.buttons{
	-fx-background-color: transparent;
	-fx-background-radius: 0px;
}
.button:hover{
	-fx-background-color: #8888ff;
	-fx-background-radius: 0px;
	-fx-border-color: #B20837;
	-fx-border-width: 0px 0px 4px 0px;
	-fx-border-style: solid;
}
.actionbuttons{
	-fx-background-color: transparent;
	-fx-background-radius: 0px;
}
.actionbuttons:hover{
	-fx-background-color: #8888ff;
	-fx-background-radius: 0px;
	-fx-border-color: #0000ff;
	-fx-border-width: 4px 0px 0px 0px;
	-fx-border-style: solid;
}
.actionbuttonsAlert{
	-fx-background-color: transparent;
	-fx-background-radius: 0px;
}
.actionbuttonsAlert:hover{
	-fx-background-color: #8888ff;
	-fx-background-radius: 0px;
	-fx-border-color: #0000ff;
	-fx-border-width: 1px 1px 1px 1px;
	-fx-border-style: solid;
}

.contentPane{
	-fx-background-color: #fff;
}
.contentMain{
	-fx-background-color: #e8e8ff;
}
.topPane{
	-fx-background-color: #aeaeff;
	-fx-border-color: #4848ff;
		-fx-border-width: 1px 1px 1px 1px;
	-fx-border-style: solid;
}
.inputitems{
		-fx-background-color: #8888ff;
	-fx-background-radius: 0px;
	-fx-border-color: #4848ff;
	-fx-border-width: 1px 1px 1px 1px;
	-fx-border-style: solid;
	
}
.inputitems:hover{
	-fx-background-color: #b0b0ff;
	-fx-background-radius: 0px;
	-fx-border-color: #8484ff;
	-fx-border-width:  1px 1px 1px 1px;
	-fx-border-style: solid;
}

.actionbuttonsGeneral{
	-fx-background-color: #4848ff;
	-fx-background-radius: 0px;
	-fx-border-color: #0000ff;
	-fx-border-width: 1px 1px 1px 1px;
	-fx-border-style: solid;
}
.actionbuttonsGeneral:hover{
	-fx-background-color: #8484ff;
	-fx-background-radius: 0px;
	-fx-border-color: #0000ff;
	-fx-border-width: 1px 1px 1px 1px;
	-fx-border-style: solid;
}